#!/usr/bin/make -f

export DH_VERBOSE = 1
export GOCACHE := $(CURDIR)/.gocache
export GOMODCACHE := $(CURDIR)/.gomodcache

%:
	dh $@

override_dh_auto_build:
	$(MAKE) build BIN_VENDOR=habr GO_BUILDMODE=pie GO_EXTRA_LDFLAGS='-linkmode=external -extldflags=-Wl,-z,relro,-z,now'

override_dh_auto_test:
	$(MAKE) test

override_dh_auto_clean:
	$(MAKE) distclean
	dh_auto_clean
